<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>
        <env name="TEST_SECURITY_RSA_PRIVATE_KEY" value=""/>
        <env name="TEST_SECURITY_RSA_PUBLIC_KEY" value=""/>
        <env name="TEST_SECURITY_RSA_PASSWORD" value=""/>
        <env name="TEST_SECURITY_RSA_MESSAGE" value=""/>
        <env name="TEST_SECURITY_RSA_SIGNATURE" value=""/>
        <env name="TEST_SECURITY_RSA_CIPHER_TEXT" value=""/>
    </php>
</phpunit>
